<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>アカウント仮登録完了</title>
        <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
        <link rel="stylesheet" href="../../static/css/account/userregisterd.css" th:href="@{/css/account/userregisterd.css}">
    </head>
    <body>
        <header class="app-header">
            <div class = "header-logo">
                 <img src="..\..\static\asset\images\logo.png" th:src="@{/asset/images/logo.png}"/>
                 <p class="lead">アカウントの仮登録が完了しました</p>
            </div>
        </header>
        <main class ="content">
            <div class="container">
                <!-- キャラクター吹き出し（左向き） -->
                <section class="ch-stack">
                    <div class="ch-balloon">
                        <p class="ch-text">
                        アカウントの仮登録が正常に完了しました。
                        sozoro708@gmail.comからのメールを確認し、本登録を完了させてください。
                        </p>
                    </div>

                    <img
                    class="ch-avatar"
                    src="../../static/asset/images/character/character_01.png"
                    alt="トイタビキャラクター"
                    />
                </section>

            </div>
        </main> 
    </body>
