<!DOCTYPE html>
<html lang="ja">
<head>
<!-- CSRF -->
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>アカウント仮登録完了</title>
  <link rel ="icon" href="../../static/asset/favicon.ico" th:href="@{/asset/favicon.ico}">
  
  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../../static/css/account/accountcommon.css" th:href="@{/css/account/accountcommon.css}">
</head>
<body>
  <!--CSSレイアウト制御用の画面全体を囲うコンテナ-->
  <div class="screen">
    <!-- Header -->
    <div th:replace="~{common/layout :: header-nav('ログイン')}"></div>
    <main class ="content">
      <div class="container">
        <!-- キャラクター吹き出し（左向き） -->
        <section class="c-card">
          <div class="ch-balloon">
            <h3>アカウント仮登録完了</h3>
            <p class="ch-text">
              アカウントの仮登録が正常に完了しました。<br>
              sozoro708@gmail.com<br>
              からのメールを確認し、本登録を完了させてください。<br>
              かなり高確率で迷惑メールフォルダに入っています。
            </p>
            <a href="/">ホームへ</a>
          </div>
          <img
          class="ch-avatar" src="../../static/asset/images/character/256/256-01.png" th:src="@{/asset/images/character/256/256-01.png}" alt="トイタビキャラクター"/>
        </section>
      </div>
    </main> 
  </div>
<script type="module" src="../../static/js/account/signup.js" th:src="@{/js/account/signup.js}"></script>
</body>
</html>
