<!doctype html>
<html lang="ja" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <th:block th:replace="~{common/layout :: head-common}"></th:block>

  <title>トイタビ – エリア選択</title>
  <meta name="description" content="街の隠れた名所へ出かけるお散歩クイズサイト
  お散歩、解答してキャラクターをゲットしよう!">
  <link rel ="icon" href="../../static/asset/favicon.ico" th:href="@{/asset/favicon.ico}">
  
  <!--CSSファイルを読み込む-->
  <link rel="stylesheet" href="../../static/css/home.css" th:href="@{/css/home.css}">


  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<!--Thymeleaf の値を JavaScript内で使えるようにして、Thymeleaf の値を JavaScript内で使えるようにする-->
<script th:inline ="javascript">
  const data =/*[[${data}]]*/{}
</script>
<body>
  <!--CSSレイアウト制御用の画面全体を囲うコンテナ-->
  <div id="home-screen" class="screen">
    <!-- Header-->
    <div th:replace="~{common/layout :: header-nav('トイタビに出かけよう!\nホーム画面')}"></div>

    <!-- Main Content -->
    <main class ="content">
      <!--エリア選択UI用の領域-->
      <div class="buttonareas">
        <!--continueボタン-->
        <button id="continue-btn" class="continue-btn area-card">
          <!--アイコンを丸く囲う-->
          <img class="icon-circle" src="../../static/asset/images/icon/totyuicon.png" th:src="@{/asset/images/icon/totyuicon.png}"/>
          <div class="label-container">
            <span class="label">途中から</span>
          </div>
        </button>
        <button id="create-area-btn" class="create-area-btn area-card">
          <!--アイコンを丸く囲う-->
          <img class="icon-circle" src="../../static/asset/images/icon/icon_guess.png" th:src="@{/asset/images/icon/icon_guess.png}"/>
          <div class="label-container">
            <span class="label">エリアを作成</span>
          </div>
        </button>
        <!--ここにエリアやゾーンが入る-->

        <div v-for="area in areas" :key="area.areaId" class="area-card-caontainer">
          <button class="area-card" @click="handleAreaClick(area,$event)">
            <!--アイコンを丸く囲う-->
            <img class="icon-circle" src="../../static/asset/images/icon/totyuicon.png" :src="area.thumbnailUri"/>

            <div class="label-container">
              <span class="label">{{area.areaname}}</span>
            </div>
          </button>
          <div class="theme-list" :class="{open: area.isOpen}">
          <button class="theme-card" v-for="theme in area.themes" :key="theme.themeId" @click="handleThemeClick(theme.themeId,$event)">
            <span class="theme-label">{{theme.name}}</span>
          </button>
          </div>
        </div>
      </div>
      <div class= "description-field field c-card">
        <p class ="app-description">
          このWEBサイトは街の隠れた名所へ出かけるお散歩クイズサイト<br>
          出題されるクイズはユーザーが投稿したもの!!<br>
          地元民ならではの場所が見つかるかも？
        </p>
      </div>
    </main>
    
    <!--自分でエリアを作成するときのダイアログ-->
    <dialog class ="field" id="create-area-dialog">
      <div id="create-map" style="width:100%;height:400px;"></div>
      <p>左上の五角形を押してエリアを作成</p>
      <div class="button-area">
        <button id="create-map-confirm">作成</button>
        <button id="create-map-cancel">戻る</button>
      </div>
    </dialog>

    <!-- Footer -->
    <toitabi-footer :ratio="'1fr 2fr'"
     :leftcontents="leftContents"
     :rightcontents="rightContents">
    </toitabi-footer>
  </div>
</body>
<!-- homeの制御スクリプト -->
<script type ="module" src="../../static/js/pages/home.js" th:src="@{/js/pages/home.js}"></script>
</html>
