<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Spot Details</title>
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/common.css}" />
</head>
<body>
<div class="container">

	<!--メニューの画面-->
    <nav id="side-menu" class="side-menu">
      <div class ="menu-header">
        <h1 class="menu-title">メニュー</h1>
        <!--ログイン情報-->
        <button class="user-info-btn" sec:authorize="isAuthenticated()" onclick="location.href='/mypage'">
          <span class="username"
                sec:authentication="name">
          </span>
        </button>
        <!-- 未ログイン -->
        <button class="user-info-btn" sec:authorize="isAnonymous()"onclick="location.href='/login'">
          <span class="username">ログイン</span>
        </button>
      </div>
      <!--メニュー項目 -->
      <ul>
        <li><button class = "menu-content-btn" onclick="location.href='/'">
          <img class src ="../../static/asset/images/icon/icon_home.png" th:src="@{/asset/images/icon/icon_home.png}"/>
          <p>ホーム画面へ戻る</p>
        </button></li>
        <li><button class = "menu-content-btn" onclick="location.href='/me/characterindex'">
          <img class src ="../../static/asset/images/icon/icon_library.png" th:src="@{/asset/images/icon/icon_library.png}"/>
          <p>My図鑑</p>
        </button></li>
        <li><button class = "menu-content-btn" onclick="location.href='/me/characterindex'">
          <img class src ="../../static/asset/images/icon/icon_post.png" th:src="@{/asset/images/icon/icon_post.png}"/>
          <p>投稿したトイスポット</p>
        </button></li>
        <li><button class = "menu-content-btn" onclick="location.href='/terms'">
          <img class src ="../../static/asset/images/icon/icon_chara.png" th:src="@{/asset/images/icon/icon_chara.png}"/>
          <p>利用規約</p>
        </button></li>
        <li><button class = "menu-content-btn" onclick="location.href='/privacy'">
          <img class src ="../../static/asset/images/icon/icon_chara.png" th:src="@{/asset/images/icon/icon_chara.png}"/>
          <p>プライバシーポリシー</p>
        </button></li>
      </ul>
      <button class="menu-close-btn">閉じる</button>
    </nav>
	<h1>投稿されたトイスポット</h1>

	<div th:if="${spot == null}">スポットが見つかりませんでした。</div>

	<div th:if="${spot != null}">
		<dl>
			<dt>トイスポットID</dt>
			<dd th:text="${spot.spotId}">spotId</dd>

			<dt>投稿者</dt>
			<dd th:text="${spot.authorName}">authorName</dd>

			<dt>画像</dt>
			<dd>
				<div th:if="${spot.images != null and !#lists.isEmpty(spot.images)}">
					<table>
						<thead>
							<tr>
								<th>画像</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="image : ${spot.images}">
								<td>
									<img th:src="${image}" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:if="${spot.images == null or #lists.isEmpty(spot.images)}">No images</div>
			</dd>

			<dt>説明</dt>
			<dd th:text="${spot.description}">description</dd>

            <dt>場所</dt>
            <dd>
                <iframe
                    th:src="'https://www.openstreetmap.org/export/embed.html?bbox=' 
                        + (${spot.longitude}-0.01) + ',' 
                        + (${spot.latitude}-0.01) + ',' 
                        + (${spot.longitude}+0.01) + ',' 
                        + (${spot.latitude}+0.01) 
                        + '&layer=mapnik&marker=' 
                        + ${spot.latitude} + ',' + ${spot.longitude}"
                    style="width:300px; height:300px; border:1px solid black">
                </iframe>
            </dd>
			
			<dt>タグ</dt>
			<dd>
				<table>
					<thead>
						<tr>
							<th>タグ名</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each ="tag:${spot.tags}">
							<td th:text="${tag.name}">tagName</td>
						</tr>
					</tbody>
				</table> 
			</dd>
		</dl>

		<div class="actions">
			<a th:href="@{/}">← ホームに戻る</a>
			
		</div>
	</div>
</div>
</body>
</html>
