<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />

  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>トイタビ – スポット詳細</title>
  <link rel ="icon" href="../../static/asset/favicon.ico" th:href="@{/asset/favicon.ico}">

  <!-- Leaflet CSS / JS（CDN）, 地図表示用CSS-->
  <link  rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <!--LeafletのJavaScript本体-->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../../static/css/postsuccess.css" th:href="@{/css/postsuccess.css}">
  <link rel ="stylesheet" href="../../static/css/common/spotcomponent.css" th:href="@{/css/common/spotcomponent.css}">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <script type="module" src="../../static/js/me/spotdetail.js" th:src="@{/js/me/spotdetail.js}"></script>
</head>
<body>
  <script th:inline="javascript">
    const spot =/*[[${spot}]]*/{};
  </script>
  <div class ="screen">
    <!-- Header -->
    <div th:replace="~{common/layout :: header-nav('スポット詳細')}"></div>

    <main class="content">
      <div id="spot-detail-screen">
        <photo-gallery :photos="spotPhotos"></photo-gallery>

        <spot-description-card 
        description="説明なし" th:description="${spot.description}"
        author="問人知らず" th:author="${spot.author}" 
        :tags="spottags">
        </spot-description-card>

      </div>
      <div class ="content-field c-card">
        <div id="map" class="map"></div>
      </div>
      <div class ="button-field">
        <button class = "edit-btn capsule-btn">
          <p>編集</p>
        </button>
        <button class = "delete-btn capsule-btn" onclick="return confirm('本当にこのスポットを削除してもよろしいですか？');">
          <p>削除</p>
        </button>
      </div>
    </main>


    <!-- 固定フッター -->
    <div id="footer">
      <toitabi-footer :ratio="'1fr 1fr'"
        :leftcontents="leftContents"
        :rightcontents="rightContents">
      </toitabi-footer> 
    <div>
  </div>
</body>
</html>