<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />

  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>トイタビ – スポット詳細</title>
  <link rel ="icon" href="../../static/asset/favicon.ico" th:href="@{/asset/favicon.ico}">

  <!-- Leaflet CSS / JS（CDN）, 地図表示用CSS-->
  <link  rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <!--LeafletのJavaScript本体-->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../../static/css/postsuccess.css" th:href="@{/css/postsuccess.css}">
  <link rel ="stylesheet" href="../../static/css/common/spotcomponent.css" th:href="@{/css/common/spotcomponent.css}">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <script type="module" src="../../static/js/me/spotdetail.js" th:src="@{/js/me/spotdetail.js}"></script>
</head>
<body>
  <script th:inline="javascript">
    const spot =/*[[${spot}]]*/{};
  </script>
  <div class ="screen" id="spot-detail-screen">
    <!-- Header -->
    <div th:replace="~{common/layout :: header-nav('スポット詳細')}"></div>

    <main class="content">
      <photo-gallery :photos="spotPhotos"></photo-gallery>

      <div class="content-field hint-field c-card">
        <p>説明文</p>
        <span class="description">説明文が表示されます。</span>
        <p>タグ</p>
        <div class="tag-field"></div>
      </div>
      <div class ="content-field c-card">
        <p>投稿者</p>
        <div class="author-field"></div>
      </div>
      <div class ="content-field c-card">
        <div id="map" class="map"></div>
      </div>
      <div class ="button-field">
        <button class = "edit-btn capsule-btn">
          <p>編集</p>
        </button>
        <button class = "delete-btn capsule-btn" onclick="return confirm('本当にこのスポットを削除してもよろしいですか？');">
          <p>削除</p>
        </button>
      </div>
    </main>


    <!-- 固定フッター -->
    <footer class="app-footer">
      <div class="bottom-actions" style="grid-template-columns:1fr 2fr;">
        <div class ="footer-button-container">
          <button class="action-btn home-btn c-card" type="button" onclick="location.href='/'"> 
            <div class ="caption">ホームに戻る</div>
            <img class = "icon-img" src = "../../static/asset/images/icon/icon_home.png" th:src="@{/asset/images/icon/icon_home.png}"/>
          </button>
        </div>
        <div class ="footer-button-container">
          <button class="action-btn next-btn  c-card" type="button" onclick="location.href='/me/spotindex'">
            <div class="caption">一覧へ戻る</div>
            <img class = "icon-img" src = "../../static/asset/images/icon/icon_post.png" th:src="@{/asset/images/icon/icon_post.png}"/>
          </button>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>