<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>トイタビ管理者ページ</title>
</head>
<body>
    <h1>
        トイタビ_管理者用ページ
    </h1>
    <br>
    <p>現在のスポット一覧を表示します <a href="/admin/spotindex" >スポットインデックス </a></p>
    
    <p>現在のゾーン一覧を表示します <a href="/admin/zoneindex" >ゾーンインデックス </a> </p>
    
    <p>スポットを投稿します <a href="/admin/spotpost" >スポット投稿</a></p>
    
    <p>ゾーンを投稿します
    <a href="/admin/zonepost" >ゾーン投稿 </a></p>

    <p> エリアを投稿します <a href="/admin/areapost" >エリア投稿 </a></p>

    <p>エリア一覧を表示します <a href="/admin/adminareaindex" >エリア一覧 </a></p>

    <p>テーマを投稿します <a href="/admin/adminthemepost" >テーマ投稿 </a></p>

    <p>テーマ一覧を表示します <a href="/admin/adminthemeindex" >テーマ一覧 </a></p>

</body>
</html>