<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form class="postingformarea" action="#"
						th:action="@{/dev/spotRandomChoice}" method="get" enctype="multipart/form-data" th:object="${zoneSearch}">
			<h1>
				投稿フォーム
			</h1>
			<div>
				<h2>
					ゾーンID
				</h2>
				<input type="number" th:field="*{zoneId}">
			</div>
			<div>
				<h2>
					個数
				</h2>
				<input type="number" th:field="*{number}">
			</div>
			
			<div class="postingformsubmit">
				<input type="submit" value="投稿">
			</div>
		</form>
</body>
</html>