<!DOCTYPE html>
<html>
    <head>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">
    </head>
    <body>
        <script th:inline="javascript">
            const response =/*[[${response}]]*/
        </script> 
        <div>
            現在投稿中...
        </div>
        <script src="../../static/js/serverRequest.js" th:src="@{/js/serverRequest.js}" ></script>
        <script src="../../static/capture/confirm.js" th:src="@{/js/capture/confirm.js}" ></script>
    </body>
</html>