d<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />

  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf_parameter" th:content="${_csrf.parameterName}">

  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>トイタビ – ポスト完了</title>
  <link rel ="icon" href="../../static/asset/favicon.ico" th:href="@{/asset/favicon.ico}">

  <!-- Leaflet CSS / JS（CDN）, 地図表示用CSS-->
  <link  rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <!--LeafletのJavaScript本体-->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="stylesheet" href="../../static/css/common/spotcomponent.css" th:href="@{/css/common/spotcomponent.css}">
  <link rel="stylesheet" href="../../static/css/postsuccess.css" th:href="@{/css/postsuccess.css}">

  <script type="module" src="../../static/js/capture/postsuccess.js" th:src="@{/js/capture/postsuccess.js}"></script>
</head>

<body>
  <script th:inline="javascript">
    
    const spot =/*[[${spot}]]*/{};

  </script>
  <div class ="screen">
    <!-- Header -->
    <div th:replace="~{common/layout :: header-nav('投稿完了!')}"></div>

    <main class="content" id="spot-detail-screen">
      <h3>トイスポットの投稿完了</h3>
      
      <photo-gallery :photos="spotPhotos"></photo-gallery>

      <spot-description-card 
      :description="spot.description"
       :author="spot.author" 
       :tags="spot.tags">
      </spot-description-card>

      <div class ="content-field c-card">
        <div id="map" class="map"></div>
      </div>
    </main>

    <!-- Bottom actions -->

    <footer class="app-footer">
      <div class="bottom-actions" style="grid-template-columns:1fr 1fr;">
        <div class ="footer-button-container">
          <button class="action-btn menu-btn c-card" type="button" onclick="location.href='/spotpost/capture'"> 
            <div class ="caption">続けて投稿</div>
            <img class = "icon-img" src = "../../static/asset/images/icon/icon_post.png" th:src="@{/asset/images/icon/icon_post.png}"/>
          </button>
        </div>
        <div class ="footer-button-container">
          <button class="action-btn home-btn  c-card" type="button" onclick="location.href='/'">
            <div class="caption">ホームへ戻る</div>
            <img class = "icon-img" src = "../../static/asset/images/icon/icon_home.png" th:src="@{/asset/images/icon/icon_home.png}"/>
          </button>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
