<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<footer th:fragment="footer" class="app-footer">
  <!-- Bottom actions -->
  <div class="bottom-actions">
    <!--設定画面へ遷移するボタン-->
    <button class="action-btn menu-btn" type="button">
      <!--ボタンのラベル-->
      <div class ="caption">メニュー</div>
      <!--メニューアイコン-->
      <img class = "icon-img" src = "../../static/asset/images/menulogo.png" th:src="@{asset/images/menulogo.png}"/>
    </button>

    <!--投稿画面へ遷移-->
    <button class="action-btn" type="button" onclick= "location.href='/spotpost/capture'" >
      <!--ボタンのラベル-->
      <div class="caption">トイスポットを投稿</div>
      <!--投稿用アイコン-->
      <img class = "icon-img" src = "../../static/asset/images/icon/icon_post.png" th:src="@{/asset/images/icon/icon_post.png}"/>
    </button>
  </div> 
</footer>
</html>