
.character-container
{
    position: relative;
    border: 4px solid #000000;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.character-back
{
    height: 400px;
}
.chara-button{
    position: absolute;
    background: transparent;
    border: none;
}
.chara-img{
    width: 100%;
}


#character-detail
{
    width: 100%;
    background-color: #fff;
}

.detail-image{
    width: 100%;
}

.overlay{
    z-index: 9999;
}

.hidden
{
    display: none;
}
