
#map
{
    height: 300px;
}

.spot-marker{
    background: transparent;
    border: none;
}

.spot-marker-image
{
    width: 60px;
    /*jsのimgHeightをここに合わせる*/
    height: 50px;
    border-radius: 5%;
    background-color: #fff;
    border: 2px solid white;
    object-fit: cover;
}

.marker-image {
    width: 100% !important;
}

.spot-marker::after {
    content: '';
    position: absolute;
    bottom: -10px; /* jsのarrowHeightをここに合わせる */
    left: 50%;
    transform: translateX(-50%);
    
    /* 三角形の作成（ボーダーを利用） */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white; 
    
    width: 0;
    height: 0;
}

.spot-card{
    display: flex;
    flex-direction: row;

    padding: 10px;
    gap: 10px;

    border: 2px solid #000;
}

.spot-main-img{
    height: 100px;
    
}
